<div class="container">

    <!-- GIANT JUMBOTRON TEXT -->
    <div class="jumbotron text-center">
        <h1>Codename</h1>
       
        <a href="#" id="go-button" class="btn btn-info">Generate</a>
    </div>


</div>