<div class="container">
	<div class="jumbotron text-center">
        <h1><small id="prefix">OPERATION</small><br>
        <span id="codename"><%= @xadj.adjective.upcase %> <%= @xnoun.noun.upcase %> </span></h1>
    </div>
	<div class="text-center">
	    <a href="/" id="generate" role="button" class="btn btn-lg btn-danger" >Generate</a>
	</div>
</div>
