<div class="container">

    <!-- GIANT JUMBOTRON TEXT -->
    <div class="jumbotron text-center">
        <h1><%= @xadj.adjective %>  <%= @xnoun.noun %> </h1>
        <BR>
       
        <a href="/" id="go-button" class="btn btn-info">Generate</a>
 
    </div>


</div>